/* ==============================
        FOOTER
============================== */

.footer {

    background:#090d16;

    border-top:1px solid rgba(255,255,255,.06);

    padding:80px 5% 25px;

}


/* ==============================
        CONTAINER
============================== */

.footer-container{

    max-width:1350px;

    margin:auto;

    display:grid;

    grid-template-columns:2fr 1fr 1fr 1fr;

    gap:70px;

}


/* ==============================
        LOGO
============================== */

.footer-logo{

    display:flex;

    align-items:center;

    gap:16px;

    margin-bottom:25px;

}

.footer-logo-icon{

    width:56px;

    height:56px;

    border-radius:18px;

    background:#ff6b00;

    display:flex;

    justify-content:center;

    align-items:center;

    color:white;

}

.footer-logo h2{

    color:#ffffff;

    font-size:34px;

}

.footer-logo span{

    color:#ff6b00;

}


/* ==============================
      BRAND
============================== */

.footer-brand p{

    color:#94a3b8;

    line-height:1.9;

    max-width:360px;

    margin-bottom:30px;

}


/* ==============================
      SOCIALS
============================== */

.footer-socials{

    display:flex;

    gap:16px;

}

.footer-socials a{

    width:46px;

    height:46px;

    border-radius:14px;

    background:#131b2b;

    display:flex;

    justify-content:center;

    align-items:center;

    color:#94a3b8;

    transition:.35s;

}

.footer-socials a:hover{

    background:#ff6b00;

    color:white;

    transform:translateY(-4px);

}


/* ==============================
       LINKS
============================== */

.footer-links{

    display:flex;

    flex-direction:column;

}

.footer-links h3{

    color:white;

    margin-bottom:22px;

    font-size:20px;

}

.footer-links a{

    color:#94a3b8;

    text-decoration:none;

    margin-bottom:14px;

    transition:.3s;

}

.footer-links a:hover{

    color:#ff6b00;

    transform:translateX(5px);

}


/* ==============================
      BOTTOM
============================== */

.footer-bottom{

    max-width:1350px;

    margin:70px auto 0;

    padding-top:25px;

    border-top:1px solid rgba(255,255,255,.06);

    text-align:center;

}

.footer-bottom p{

    color:#64748b;

}


/* ==============================
      RESPONSIVE
============================== */

@media(max-width:1000px){

.footer-container{

grid-template-columns:1fr 1fr;

gap:45px;

}

}

@media(max-width:700px){

.footer{

padding:60px 20px 25px;

}

.footer-container{

grid-template-columns:1fr;

gap:40px;

}

.footer-logo h2{

font-size:30px;

}

}